:root{
    --NavigationBarHeight: 10%;
}


.NavBar{

    margin-top: 0%;
    font-size: x-large;
    width: 100%;
    align-items: center;
    justify-content: center;


    font-family: "Helvetica", sans-serif;
}

.Text{
    max-height: 20%;
    color: var(--white);
    font-family: "Helvetica", sans-serif ;
}

.Icon{
    width: 12%;
    max-height: 90%;
    justify-content: center;
    vertical-align: middle;


}

.Row{
    margin: 0;
    max-height: 100%;
}



.Col {
    max-height: 10%;


}


.NavigationBarContainer{
    height: var(--NavigationBarHeight);
    margin-top: 0%; /* set margins to 0*/
    padding: 0px;
    border-bottom: var(--dark-sienna) solid 2.5px;
    background-color: var(--rich-black-fogra-29);

}

h1{
    text-align: left;
    font-size: xx-large;
}


.MusicLink{
    font-size: xxx-large;
}

p{
    text-align: left;
    margin-left: 8%;
    font-size: large;
}
.Jumbotron{
    width: 100%;
    color: var(--white);
    font-family: "Helvetica", sans-serif ;
    background-color: var(--main-background-color);
}

.Link{
    color: var(--white);
}