

.NavBar{

    border-bottom: black solid 2px;
    font-size: x-large;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-sienna);
}

.Nav{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.Text{
    min-height: 50%;
}

.Link{
    color: var(--white)
}