 :root{
   --black: #000000ff;
   --rich-black-fogra-29: #121217ff;
   --jet: #313036ff;
   --gunmetal: #0c2531ff;
   --ucw-red: #a31822;
   --main-background-color: black;
   --backing-font-color: gray;
}
.App{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  background-color: aquamarine;


 }

.Container-outer{
  background-color: var(--main-background-color);
  text-align: center;
  display: flex;

  justify-content: center;
  margin: 0%; /* maybe change to 0 */
  max-height: 80%;



}

.Container-inner{

}




.Row{
  justify-content: center;
  margin: 2%;
  width: 100%;
  align-content: center;
}

.Footer{
    position: fixed;
    bottom: 0;
}

