 :root{
   --black: #000000ff;
   --rich-black-fogra-29: #121217ff;
   --jet: #313036ff;
   --gunmetal: #0c2531ff;
   --dark-sienna: #4f171bff;
}
.App{
    display: flex;
    flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--rich-black-fogra-29);
 }

.Container-outer{
  background-color: var(--dark-sienna);
  text-align: center;
    display: flex;
    

  width: 10%;
  height: 80%;
  justify-content: center;



}

.Container-inner{

}

.Row{
  justify-content: center;
  margin: 2%;
  width: 100%;
    align-content: center;
}

